/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* style.css */

menu {
    width: 274px;
    height: 100vh;
    background: #fff;
    margin-right: 8px;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Manrope", sans-serif;
    background: #F4F4F8;
    color: #2F3144;
}

.logo {
    display: flex;
    align-items: center;
    padding: 19px 41px;
}

.logoImg {
    width: 46px;
    height: 46px;
    margin-right: 4px;
}

.logoText {
    font-size: 24px;
    font-weight: 800;
    line-height: 28px;
    letter-spacing: 0px;
}

.tabs {
    padding: 0 12px;
    display: flex;
    flex-direction: column;
}

.tab {
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 16px;
    margin-bottom: 4px;
    cursor: pointer;
    transition: background 0.2s;
}

.tab:hover {
    background: #F4F4F4;
}

.tabIcon {
    width: 24px;
    height: 24px;
    margin-right: 12px;
    filter: grayscale(100%) opacity(0.7);
}

.tabText {
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0;
    font-weight: 800;
}

.tab:nth-child(2) {
    background: #3761F3;
}

.tab:nth-child(2) .tabText {
    color: #fff;
}

.tab:nth-child(2) .tabIcon {
    filter: brightness(0) invert(1);
}

.user {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    padding: 12px;
    border-radius: 20px;
    margin: auto 12px 18px;
    box-shadow: 0 4px 6px #0000001F;
}

.user .userAvatar {
    width: 48px;
    height: 48px;
    border-radius: 48px;
    background: #3761F3;
    color: #fff;
    font-size: 15px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.userInfo {
    display: flex;
    flex-direction: column;
}

.userName {
    font-size: 15px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0;
}

.userStatus {
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0;
    color: #2F3144A6;
}

.exit {
    display: flex;
    align-items: center;
    padding: 12px;
    cursor: pointer;
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 20px;
    margin-bottom: 4px;
    transition: background 0.2s;
}

.exit:hover {
    background: #f0f0f0;
}

.exit img {
    width: 24px;
    height: 24px;
    margin-right: 12px;
    filter: grayscale(100%) opacity(0.7);
}

.exitText {
    font-size: 15px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0;
}


.language {
    display: flex;
    align-items: center;
    margin-right: 12px;
    margin-left: 12px;
    padding: 12px;
    border-radius: 12px;
    cursor: pointer;
    position: relative;
    border: 1px solid #E0E0E0;
    margin-bottom: 18px;
    transition: background 0.2s;
}

.language:hover {
    background: #f0f0f0;
}

.flag {
    width: 24px;
    height: 24px;
    margin-right: 12px;
    border-radius: 4px;
}

.languageSelect {
    font-size: 15px;
    font-weight: 600;
    background: transparent;
    letter-spacing: 0;
    border: none;
    appearance: none;
    cursor: pointer;
    flex: 1;
    padding: 0;
    color: inherit;
}


.language::after {
    content: '';
    background: url('icons/down-arrow.svg') no-repeat center; /* Assume you have a down arrow icon */
    width: 20px;
    height: 20px;
    position: absolute;
    right: 15px;
    filter: grayscale(100%) opacity(0.7);
}

.version {
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0;
    color: #2F3144A6;
    text-align: left;
    margin-left: 12px;
    margin-bottom: 19px;
}



/*MAIN*/

.main {
    background-color: #ffffff;
    height: 100vh;
    margin: 8px 8px 8px 282px;
    border-radius: 12px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.main {
    color: #2F3144;
    padding: 24px;
    background: #f8f9fb;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

header > div:first-child {
    font-size: 24px;
    font-weight: 800;
    line-height: 28px;
    letter-spacing: 0;
}

.icon-bar {
    display: flex;
    align-items: center;
    gap: 14px;
}

.search-wrapper {
    position: relative;
    display: flex;
    align-items: center;

}

.search-input {
    padding: 10px 8px 10px 48px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    width: 260px;
}

.search-icon {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 24px;
    height: 24px;
    pointer-events: none;
    opacity: 0.6;
}

.icon {
    width: 44px;
    height: 44px;
    cursor: pointer;
    border-radius: 12px;
    background-color: #F4F4F4;
    padding: 10px;
}

.submit-btn {
    background-color: #3761F3;
    font-family: "Manrope", sans-serif;
    border: none;
    border-radius: 12px;
    padding: 10px 16px;
    color: #fff;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0;
    font-weight: 800;
    cursor: pointer;
    transition: background 0.2s;
}

.submit-btn:hover {
    background-color: #3756d6;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid #E8EAEC;
}

table th, table td {
    padding: 12px 16px;
    border-bottom: 1px solid #E8EAEC;
    text-align: left;
    font-weight: 800;
    font-size: 17px;
    line-height: 28px;
    letter-spacing: 0;
}


table th {
    background-color: #F4F4F4;
}

table td {
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    padding: 22px 16px;
}

table tr:hover td {
    background-color: #F4F4F4;
}

table tbody tr:nth-child(even) {
    background-color: #F4F4F4;
}

.th-flex {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.th-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: opacity 0.2s;
}

.th-icon:hover {
    opacity: 0.8;
}

/* Статусы */
.status {
    display: inline-block;
    padding: 4px 12px;
    border-radius: 43px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
}

.status.planned {
    background-color: #AFBFF5;
}

.status.progress {
    background-color: #FFDAA1;
}

.status.done {
    background-color: #91C893;
}

thead th,
tfoot td {
    background-color: #F5F7F9 !important;
}


tfoot tr td{
    padding: 11px 16px;
    border: none;
}

.pagination {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: flex-start;
}

.page-btn {
    font-family: "Manrope", sans-serif;
    background: #fff;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-btn img {
    width: 18px;
    height: 18px;
}

.page-btn.active {
    color: #3761F3;
    border: 1px solid #3761F3;
}

.page-btn:hover {
    background: #E0E0E0;
}




